:root {
	--text-shadow-color: rgba(242, 80, 102, 0.5);
	--link-background: #f4c19e;
	--text-color: #444;
	--circle-background: #0bb887;
	--border-color: #ffffff;
}

body {
	padding: 20px;
}

.dataContainer {
	counter-reset: li;
	list-style: none;
	font: 14px "Trebuchet MS", "Lucida Sans";
	padding: 0;
	text-shadow: 0 1px 0 var(--text-shadow-color);
}

.todoInner {
	position: relative;
	display: block;
	padding: .4em .4em .4em 2em;
	margin: .5em 0;
	background: var(--link-background);
	color: var(--text-color);
	text-decoration: none;
	border-radius: .3em;
	transition: .3s ease-out;
}

.todoInner :hover {
	background: var(--link-background);
}

.todoInner:hover:before {
	transform: rotate(360deg);
}

.todoInner:before {
	content: counter(li);
	counter-increment: li;
	position: absolute;
	left: -1.3em;
	top: 50%;
	margin-top: -1.3em;
	background: var(--circle-background);
	height: 2em;
	width: 2em;
	line-height: 2em;
	border: .3em solid var(--border-color);
	text-align: center;
	font-weight: bold;
	border-radius: 2em;
	transition: all .3s ease-out;
}

.loader {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25px;
	height: 25px;
	border: 5px solid gray;
	border-radius: 50%;
	border-left-color: transparent;
	animation: loader 1s infinite;
}

@keyframes loader {
	0% {
			transform: rotate(0deg);
	}
	100% {
			transform: rotate(360deg);
	}
}


